*{
    font-family: 'Montserrat', sans-serif;
}

 .navbar-left .btn-new  {
     background-color: #00d7d2;
     border-radius: 5px;
     font-size: 10px;
     padding: 5px 7px;
     font-weight: 500;
     margin-left: 18px;
}

.header-top.navbar-left {
    padding-top: 10px;
}

.header-top.navbar-left a, .header-top.navbar-right a {
    font-size: 12px;
    font-weight: 600;
    color: #5b6987;
}

.header-top.navbar-left a:hover {
    text-decoration: none;
    color:#0080ff;
}

.header-top.nav>li>a {
    padding: 10px 20px 10px 8px;
}

.header-top.nav>li>a:hover {
    color:#5b6987;
}

.header-top.navbar{
    background-color: white;
    min-height: 40px;
    margin-bottom: 0;
    border-bottom: 1px solid lightgrey;
}

.navbar-brand img {
    max-width: 170px;
    padding-top: 3px;
    margin-right: 20px;
    margin-left: 18px;
}

.header-bottom.navbar {
    background-color: white;
    border: none;
    border-radius: 0;
    border-top: 1px solid #e5e8ed;
    margin-bottom: 0;
    padding-right: 20px;
    padding-bottom: 10px;
}

 .header-bottom.nav.navbar-left {
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
}

.header-bottom.nav.navbar-left a{
    padding-left: 7px;
    color: #031b4e;
}

.header-bottom.nav.navbar-left a:hover{
    color:#0080ff;
}

.header-bottom.nav.navbar-right button{
    color: #0080ff;
    border-color: #0080ff;
    font-weight: 700;
    margin-top: 15px;
}

#jumbotron {
    background: #0248ff url(img/jumbotron.jpg);
    padding-top: 70px;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 0;
    min-height: 800px;
}

.hamburger{
    float: right;
    font-size: 25px;
    padding-right: 20px;
    color: hsla(0,0%,100%,.5);
}

.hamburger:hover{
    cursor: pointer;
}

#jumbotron h1 {
    color: white;
    font-weight: 700;
    padding-top: 100px;
    font-size: 60px;
}

#jumbo-left p {
    color:white;
    opacity:0.8;
    line-height: 35px;
    font-size: 23px;
    font-weight:500;
    padding-bottom: 30px;
}

#jumbotron .row {
    padding-top: 100px;
    padding-bottom: 30px;
}

.form {
    background-color: white;
    border-radius: 5px;
    padding: 20px 30px;
}

#jumbotron .form .h2{
    color:  #031b4e;
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 20px;
}

.form input{
    margin-bottom: 20px;
    padding: 20px;
}

#jumbotron .form .separation p{
    color: rgba(3,27,78,.7);
    font-size: 14px;
    line-height: 45px;
    margin-bottom: 0;
    padding: 5px;
}

.separation{
    position: relative;
    width: 100%;
}
/* linea di separazione affiancate alla scritta al div .separation */
.separation::after, .separation::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 140px) / 2);
    background-color:#e5e8ed;
    height: 1px;
}
/* posizionamento delle righe rispetto al div .separation */
.separation::after{
    right: 0;
}

.separation::before{
    left: 0;
}

button[name="account"]{
    background-color: #0069ff;
}

button[name="account"]:hover{
    background-color: #1633ff;
}

.sign-in {
    padding-bottom: 30px;
}

#terms p{
    color: rgba(3,27,78,.7);
    font-size: 12px;
    font-weight: 400;
}

button[name="google"] img{
    padding-right: 20px;
}

button[name="github"] img{
    padding-right: 20px;
}

button[name="google"]{
    font-weight: 600;
    font-size: 18px;
}

button[name="github"]{
    font-weight: 600;
    font-size: 18px;
}

#sponsor {
    background-color: #f3f5f9;
}

#sponsor img {
    width: 160px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

#sponsor .row {
    padding-top: 50px;
    padding-bottom: 50px;
}

#sponsor .row-top h4{
    font-size: 16px;
    font-weight: 600;
    opacity: 0.4;
}

#sponsor .row-bottom p>a {
    font-weight: 600;
    color: #0069ff;
    font-size: 15px;
}
#deploy-scale {
    padding-top: 90px;
    padding-bottom: 50px;
}
/* style valido per tutti gi h2 del sito */
h2 {
    color: #031b4e;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 10px;
}
/* style valido per tutte le p subito dopo l'h2 */
p.after-h2 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(3,27,78,.7);
    line-height: 30px;
}

#deploy-scale .row-top{
    padding-bottom: 60px;
}

#deploy-scale .row-bottom ul {
    padding-left: 0;
}

#deploy-scale .row-bottom ul>li{
    list-style: none;
    text-decoration: none;
    padding: 18px 0 18px 30px ;
    border-left: 2px solid #e5e8ed;
}
#deploy-scale ul>li#select {
    border-left: 2px solid #0069ff;
}

#deploy-scale ul>li>a#hover-list{
    color: #031b4e;
}

#deploy-scale ul>li>a{
    color:rgba(3,27,78,.5);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

#deploy-scale ul>li>a:hover{
    color: #031b4e;
}
#deploy-scale .row-bottom ul>li:active{
    border-left: 2px solid #0069ff;
}

#deploy-scale .row-bottom h3 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #031b4e;
}

#deploy-scale .row-bottom p {
    font-weight: 500;
    color:rgba(3,27,78,.7);
    line-height: 23px;
    font-size: 15px;
    padding-bottom: 35px;
}

.vertical-list{
    padding-bottom: 30px;
}

#slide{
    padding-top: 100px;
    padding-bottom: 130px;
    background-color: #f3f5f9;
}

#slide .row-top {
    padding-left: 30px;
    padding-right: 30px;
}
/* before e after per inserimento frecce di scorrimento delle slide */
.img-gallery::before, .row-slide::before{
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 40px;
    color:rgba(3,27,78,.7);
    position: absolute;
    top: 50%;
    transform:translateX(-180%);
    left: 0;
}

.img-gallery::after, .row-slide::after{
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 40px;
    color:black ;
    position: absolute;
    top: 50%;
    transform:translateX(180%);
    right: 0;
}

.img-gallery:hover::after,.row-slide:hover::after {
    color: #0069ff;
}

#slide .row-bottom p{
    padding: 35px;
}

#slide .row-bottom .far:first-of-type{
    color: #0069ff;
    font-weight: bold;
    font-size: 11px;
    padding-right: 10px;
}
#slide .row-bottom .far{
    color: #0069ff;
    font-size:11px;
    padding-right: 10px;
}

#built-for{
    padding-top: 90px;
    padding-bottom: 120px;
}

#built-for h2 {
    padding-bottom: 50px;
}

#built-for h3{
    font-size: 18px;
    font-weight: 700;
    color: #031b4e;
    padding-bottom: 15px;
}

#built-for p{
    color: rgba(3,27,78,.7);
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 10px;
}

#built-for a{
    color: #0069ff;
    font-size: 15px;
    font-weight: 600;
}

.built-box {
    padding-bottom: 20px;
}

#earth h2{
    color: white;
    padding-bottom: 50px;
}

#earth {
    background: #031b4e url(img/earth.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
}

.line {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    padding-top: 5px;
    padding-bottom: 5px;
}

.line div:first-of-type{
    color:white;
    font-weight: 600;
}

.line div:nth-of-type(2){
    color:white;
    opacity: 0.6;
    font-size: 13px;
    font-weight: 600;
}

.line div:last-of-type a {
    color: #00d7d2;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
}

.line div:last-of-type a:hover{
    color: #0069ff;
    background-color: transparent;
}

.space{
    padding-bottom: 20px;
    border: none;
}

#development {
    padding: 100px 20px 130px;
    background-color: #f3f5f9;


}

#development .after-h2 a{
    color: #0069ff;
    text-decoration: underline;
}

.row-slide {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    border-top: 1px  solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
}

.row-slide img{
    width: 200px;
}

.row-slide p:first-of-type{
    font-size: 22px;
    font-weight: 300;
    padding: 30px 40px 10px;
    line-height: 40px;
}

.row-slide p:nth-of-type(2){
    font-weight: 600;
    color: rgba(3,27,78,.5);
}
.row-slide p:last-of-type{
    font-weight: 600;
    font-size: 12px;
    color: rgba(3,27,78,.5);
    padding-bottom: 20px;
}

.row-slide a{
    color: #0069ff;
    font-weight: 600;
    font-size: 15px;
}

#development .row-bottom i:first-child{
    font-weight: bold;
    color: #0069ff;
    font-size: 11px;
    padding-right: 10px;
}

#development .row-bottom i{
    color: #0069ff;
    font-size: 11px;
    padding-right: 10px;
}

#get-started{
    background: #0248ff url(img/jumbotron.jpg);
    background-position: -150px bottom;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 70px;


}
#get-started h2{
    color:white;
    padding-bottom: 20px;
}

#get-started button {
    background-color: white;
    color: #0069ff;
    border: none;
    font-size: 17px;
    font-weight: 600;
    padding: 13px 30px;
}

#get-started button:hover{
    background-color: hsla(0,0%,100%,.8);
    border: none;
    color: #0069ff;
}

footer{
    background-color: #010E27;
    padding-bottom: 96px;
    padding-top: 96px;
}

footer h5{
    color: white;
    padding-bottom: 10px;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

footer a{
    text-decoration: none;
    color: hsla(0,0%,100%,.5);
}

footer li {
    padding-bottom: 8px;
}

footer a:hover{
    color: white;
    text-decoration: none;
}

.list-menu{
    border-bottom: 1px solid hsla(0,0%,100%,.5);
    padding-bottom: 50px;
}

.footer-bottom {
    padding-top: 40px;
    color: hsla(0,0%,100%,.5);
}

.footer-bottom-left img {
    width: 50px;
    float: left;
}
.footer-bottom-left img:hover {
    cursor: pointer;
}

.footer-bottom-left p{
    float: left;
    line-height: 50px;
    padding-left: 20px;
}

.footer-bottom-right {
    text-align: right;
    font-size: 25px;
}

.footer-bottom i{
    padding-left: 15px;
}

.footer-bottom i:hover{
    color: white;
    cursor: pointer;
}

/* media query per sistemare alcuni elementi e adattare meglio la UX su smartphone */


@media (max-width:767px) {
    .img-gallery::before,.row-slide::before,.row-slide::after,.img-gallery::after{
        display: none;
    }

    .footer-bottom-right {
        text-align: center;
    }

    #jumbotron h1{
        padding-top: 0;
        font-size: 40px;
    }

    #jumbotron .row{
        padding-top: 50px;
    }

    #jumbotron {
        background: #0248ff;
    }

    nav a.ellipsis {
        white-space: nowrap;
        width: 50px;
        text-overflow: ellipsis;
    }
}

@media (min-width:768px) and (max-width:991px){

    #jumbotron h1{
        font-size: 40px;
    }
}
